{% extends "reservation-base-email-template.html" %}
{% block header %}
<img src="https://hotelz-media.b-cdn.net/e92e9b7f-1a18-4f65-91ca-e60d1074e981/images/8a7be269f7cd41daa8755d01a53b6996.png"
    width="72" height="72" style="display:block; margin:0 auto;" alt="Booking Confirmed Icon" />
<h2 style="font-size:28px; color:#f8f6f6; margin:16px 0 8px 0;">Reservation Reminder</h2>
<p style="font-size:16px; color:#f8f6f6; margin:8px 0;">We’re Excited to Welcome You For the
    Upcoming Reservation!</p>
{% endblock %}

{% block content %}
<tr>
    <td style="padding:20px; color:#000001;">
        <!-- body-info-content -->
        <h3 style="font-weight:700; font-size:18px; padding:14px 0; color:#000001; margin:4px 0 0 0;">
            Hi {{ guest_name }}, Your Reservation is Coming Up! 📅 🙌
        </h3>

        <p style="margin:0; font-size:14px; color:#1F2937; padding-bottom:2px;">
            We’re looking forward to your visit at {{ restaurant_name }} and can’t wait to
            host
            you.
        </p>

        <div style="background-color:#FCF9FF; color:#000001; padding:20px 30px; margin:20px 0 20px 0;">

            <div>
                <div style="color:#1F2937;font-weight:600;font-size:20px;display:inline-block;padding:10px 0;">
                    Reservation Details
                </div>

                <!-- Date & Time + Party Size -->
                {% include 'reservation-date-size-table.html' %}

            </div>
        </div>

        <p style="margin:20px 0;  font-size:14px; color:#1F2937; padding-bottom:2px;">
            We can't wait to serve you and create a memorable dining experience!
        </p>

        <p style="font-size: 20px; font-weight: 600; color: #1F2937; margin-bottom: 4px;">
            See you soon!
        </p>
        <p style="margin:0; margin-bottom: 20px; font-size:14px; color:#1F2937; padding-bottom:2px;">
            {{ restaurant_name }}
        </p>

        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom:18px;">
            <tr>
                <td
                    style="background-color:#EDE7FF; border:1px solid #8556FF; border-radius:15px; padding:24px; margin-bottom:10px; font-size:14px; color:#4B5563; box-shadow:5px 10px 13px 9px #b9b9d521; vertical-align:top;">
                    <div style="font-weight:bold; margin-bottom:5px; color:#3A1C94;">
                        <img src="https://hotelz-media.b-cdn.net/e92e9b7f-1a18-4f65-91ca-e60d1074e981/images/37dcf11e8c6940f2948c6186503212e6.png"
                            alt="exclaimation-icon"
                            style="display:inline-block; vertical-align:middle; margin-right:2px" />
                        Important Information
                    </div>
                    <p style="color:#3A1C94;">
                        Please arrive 15 minutes early for your reservation. If you need to make
                        any changes, contact us at least 2 hours in advance.
                    </p>
                </td>
            </tr>
        </table>

        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" style="margin: 25px 0px;">
            <tr>
                <td width="48%"
                    style="background-color:#fff; border:1px solid #e0e0e0; border-radius:15px; padding:24px; margin-bottom:10px; font-size:14px; color:#4B5563; box-shadow:5px 10px 13px 9px #b9b9d521; vertical-align:top;">

                    <div style="font-weight:bold; margin-bottom:5px; color:#16A34A;">
                        <img src="https://hotelz-media.b-cdn.net/e92e9b7f-1a18-4f65-91ca-e60d1074e981/images/a1baf1e0a7834157a3b57aa7a255f49e.png"
                            alt="exclaimation-icon"
                            style="display:inline-block; vertical-align:middle; margin-right:8px" />
                        <span style="color: #000001;">
                            Restaurant Location
                        </span>
                    </div>
                    {{ reservation_address }}
                </td>

                <!-- Spacer for 18px gap -->
                <td width="18" style="font-size:0; line-height:0;">&nbsp;</td>
                <td width="48%"
                    style="background-color:#fff; border:1px solid #e0e0e0; border-radius:15px; padding:24px; margin-bottom:10px; font-size:14px; color:#4B5563; box-shadow:5px 10px 13px 9px #b9b9d521; vertical-align:top;">
                    <div style="font-weight:bold; margin-bottom:5px; color:#DC2626;">
                        <img src="https://hotelz-media.b-cdn.net/e92e9b7f-1a18-4f65-91ca-e60d1074e981/images/18cdb6607b2a4cc6b8bbae405c6b1d7a.png"
                            alt="exclaimation-icon"
                            style="display:inline-block; vertical-align:middle; margin-right:8px" />
                        <span style="color: #000001;">
                            Restaurant Contact
                        </span>
                    </div>
                    Phone: {{ guest_phone }} <br>
                    Email: <span style="text-decoration: none; font-weight: 600;">
                        Your text here
                    </span>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}